
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
.banner{
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.938), rgba(41, 35, 35, 0.5)), url('Assets/banner-image.png');
  background-size: cover;
  background-position: center;
}